@media print and (color) {
  * {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}

@media print {
  * {
    transition: none !important;
    overflow: visible !important;
  }
}
